/*Top-left panel*/
@media screen and (min-width: 1200px) {
	.homer {
		background:url(homer.jpg)0px 0px;
		width:166.5px;
		height:125px;
	}
}
/*Top-right panel*/		
@media screen and (min-width: 1100px) and (max-width:1200px){
	.homer{
		background:url(homer.jpg) 166.5px 0px;
		width:166.5px;
		height:125px;
	}
}
/*Second image on left column*/
@media screen and (min-width:1000px) and (max-width:1100px){
	.homer{
		background:url(homer.jpg)0px -125px;
		width:166.5px;
		height:125px;
	}
}
/*Second image on right column*/
@media screen and (min-width:900px) and (max-width:1000px){
	.homer{
		background:url(homer.jpg)166.5px -125px;
		width:166.5px;
		height:125px;
	}
}
/*Third image on left column*/
@media screen and (min-width:800px) and (max-width:900px){
	.homer{
		background:url(homer.jpg)0px -250px;
		width:166.5px;
		height:125px;
	}
}
/*Third image on right column*/
@media screen and (min-width:700px) and (max-width:800px){
	.homer{
		background:url(homer.jpg)166.5px -250px;
		width:166.5px;
		height:125px;
	}
}
/*Bottom-left image*/
@media screen and (min-width:600px) and (max-width:700px){
	.homer{
		background:url(homer.jpg)0px -375px;
		width:166.5px;
		height:125px;
	}
}
/*Bottom-right image*/
@media screen and (max-width:600px){
	.homer{
		background:url(homer.jpg)166.5px -375px;
		width:166.5px;
		height:125px;
	}
}

